
<div class="containers">
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.collection :list, prompt: "Choose a list" %>
    <%= f.input :comment %>
    <%= f.submit "Submit new bookmark", class: "morph_button" %>

  <% end %>
</div>

