
  <div class="card-category" style="background:linear-gradient(to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)), no-repeat url('<%= @movie.poster_url%>') center center/cover;">
    <h1><%= @movie.title %></h1>

  </div>
<div class="container-fluid">
  <div class="body">
  <div class="casting">
    <h3>Overview</h3>
    <p><%= @movie.overview %></p>
  </div>
  <div class="review">

  </div>
  </div>
</div>
