nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)), ;
}

.navbar .nav-link {
  color: #fff !important;
  font-size: 1.2rem !important;
}

.navbar-lewagon {
  justify-content: space-between;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
