// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #e6e7ee;
}

ul {
  list-style: none;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #000;

}

.container {
  width: 100% !important;

}
